body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 230, 86, 0.1);
}

/* font-family: 'Montserrat', sans-serif;
  font-family: 'Sofadi One', cursive;
  font-family: 'Work Sans', sans-serif; */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
a {
  text-decoration: none;
  color: #0e79b2;
  font-weight: bold;
  font-size: 1.2em;
}
a::after {
  text-decoration: none;
  color: #0e79b2;
  font-weight: bold;
  font-size: 1.2em;
}
@media (max-width: 844px) {
  body {
    margin-top: -0.5%;
  }
  .letuce,
  .turnip,
  .beet,
  .the {
    font-family: 'Sofadi One', cursive;
    text-shadow: 1px 1px black;
    position: absolute;
  }
  .letuce,
  .turnip,
  .beet {
    font-size: 4.5em;
  }
  .letuce {
    /* top: -2vw; */
    color: #e0ff87;
    /* left: 9vw; */
    left: 3%;
  }
  .turnip {
    color: #ffe656;
    /* left: 30vw;
  top: 31vw; */
    top: 11%;
    left: 23%;
  }
  .the {
    color: #0e79b2;
    font-size: 3em;
    top: 38%;
    left: 30%;
  }
  .beet {
    color: #df0054;
    top: 36%;
    left: 52%;
  }
  .characters {
    position: absolute;
    left: 2.5%;
    top: 21%;
    width: 75%;
    height: auto;
  }
  .donut,
  .fresh {
    position: absolute;
    font-family: 'Work Sans';
    font-size: 1.65em;
    line-height: -2em;
    width: 60%;
    font-weight: bold;
  }
  .fresh {
    top: 58%;
    left: 4%;
  }
  .donut {
    top: 48%;
    left: 35%;
  }
  .footer-login {
    display: flex;
    margin-top: auto;
    /* margin-top: 40px; */
    width: 70%;
    justify-content: center;
    font-size: 0.8em;
  }
  .footer-register {
    position: absolute;
    top: 85%;
    width: 70%;
    left: 15%;
    font-size: 0.8em;
  }
  .fresh,
  .donut,
  .footer,
  .landing-login {
    color: rgba(0, 0, 0, 0.6);
  }
  .button {
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #ffe656;
    font-size: 2em;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    z-index: 1;
  }
  .landing-button {
    position: absolute;
    top: 71%;
    left: 23%;
    width: 50%;
    height: 11%;
  }
  .landing-login {
    position: absolute;
    top: 80.5%;
    left: 25%;
  }
  .form-container {
    display: flex;
    justify-content: center;
    border-radius: 100px;
    box-shadow: inset 0px 0px 1px 1px rgba(255, 230, 86, 0.1);
    margin-top: 15%;
    width: 95vw;
    background-color: white;
  }
  .form-header {
    margin-top: 5vw;
  }
  input[type='text'],
  input[type='password'] {
    /* margin: 3%; */
    margin-top: 5px;
    margin-left: 20%;
    height: 13vw;
    width: 11em;
    font-size: 0.8em;
    font-weight: bolder;
    overflow-x: hidden;
    border: hidden;

    border-radius: 25px;
  }
  input[type='text']:focus {
    outline: none;
    background-color: white;
  }
  .error,
  .error-login {
    display: flex;
    justify-content: center;
    font-size: 0.7em;
  }
  .error-login {
    font-size: 1.2em;
  }

  .inputWrapper {
    height: 15vw;
    width: 80vw;
    font-size: 1.7em;
    font-weight: bolder;
    border-radius: 30px;
    border: 1px solid black;
    margin: 5%;
  }
  input[type='submit'] {
    margin: 7vw;

    height: 15vw;
    width: 200px;
    border-radius: 20px;
    color: white;
    background-color: #ffe656;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px black;
    /* width: 30vw; */
  }
  input[type='submit']:focus,
  input[type='text']:focus {
    border-radius: 12px;
  }
  input[type='submit']:hover {
    box-shadow: 0px 0px 1px 1px rgba(255, 230, 86, 0.1);
  }
  .email-one,
  .email-two,
  .email-three,
  .lock-one,
  .lock-two,
  .lock-three {
    position: absolute;
    height: auto;
  }
  .email-one,
  .email-two,
  .email-three {
    width: 30%;
    left: 4%;
  }
  .email-one {
    top: 16%;
  }
  .email-two {
    top: 28%;
  }
  .email-three {
    top: 16%;
  }
  .lock-one,
  .lock-two,
  .lock-three {
    width: 23%;
    left: 4%;
  }
  .lock-one {
    top: 41%;
  }
  .lock-two {
    top: 52.5%;
  }
  .lock-three {
    top: 29%;
  }
  .login-characters {
    /* position: relative; */
    width: 75%;
    height: auto;
  }
  .card-title {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Work Sans', sans-serif; */
    font-size: 2em;
    width: 320px;
    margin-bottom: 10%;
    font-weight: bold;
  }
  .title {
    font-family: 'Sofadi One', cursive;
    font-size: 2em;
    margin-bottom: 3%;
    font-weight: bold;
  }
  .recipe-card {
    position: absolute;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 69%;
    top: 13%;
    width: 370px;
    padding: 5%;
    margin-right: 20px;
    z-index: -1;
  }

  .macros {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: row wrap;
    margin: 2%;
    font-weight: bold;
    font-size: 1.1em;
  }
  .description {
    font-family: 'Work Sans', sans-serif;
    /* color: rgba(0, 0, 0, 0.8); */
    line-height: 120%;
    font-size: 1.05em;
    height: 100px;
    overflow: scroll;
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 2px 1px white;
    font-weight: bold;
  }
  .time {
    font-size: 1.1em;
    margin-bottom: 20px;
    margin-left: 42px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-weight: bold;
  }

  .recipe-card-content {
  }
  .roulette-button-container {
    display: flex;
    flex-flow: row nowrap;
    /* flex: 1 1 auto; */
    position: absolute;
    top: 92%;
    width: 390px;
    box-shadow: inset 0px 0px 1px 1px rgba(255, 230, 86, 0.1);
  }
  .roulette-button {
    display: flex;
    flex: 1;
    height: 70px;
    /* margin-right: -15px; */
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    border: none;
    margin-right: -3px;
    background-color: rgba(255, 230, 86, 0.8);
    /* box-shadow: inset 0px 0px -40px -40px rgba(255, 230, 86, 0.1); */
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 2px 1px white;
    font-weight: bold;
  }
  ul {
    list-style: none;
    margin-right: 15%;
  }
  .title-left {
    color: #e0ff87;
    text-shadow: 1px 1px black;
  }
  .title-right {
    color: #df0054;
    text-shadow: 1px 1px white;
  }
  /* .favorite {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .select {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .dislike {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .pass {
    background-color: rgba(0, 0, 0, 0.2);
  } */
}
